body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; }

h1 {
  font-size: 50px;
  line-height: 1.2; }

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2; }

p {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4); }

a, a:visited {
  color: white; }

a:hover, a:active {
  color: #005e89; }

.header_background {
  background-color: #1094d1;
  background-image: -moz-linear-gradient(122.47deg, #0f94d1 0%, #46c5ff 100%);
  background-image: -webkit-linear-gradient(122.47deg, #0f94d1 0%, #46c5ff 100%);
  background-image: -ms-linear-gradient(122.47deg, #0f94d1 0%, #46c5ff 100%);
  position: relative;
  color: white;
  border-bottom: 5px solid #73d3ff; }
  .header_background h1 {
    margin-bottom: 76px; }
  .header_background h3 {
    margin-bottom: 41px; }
  .header_background nav {
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -webkit-transition: all .4s linear; }
  .header_background nav.b_colour {
    background-color: #1094d1; }
  .header_background .nav-item a {
    font-size: 18px;
    line-height: 1.778;
    font-weight: normal;
    color: white !important; }
  .header_background .nav-item a:hover, .header_background .nav-item a.active {
    color: #005e89 !important; }
  .header_background .hamburguer {
    border-radius: 50%;
    background-color: #0f94d1;
    width: 55px;
    height: 55px;
    color: white;
    outline: none; }
  .header_background div.text {
    text-align: center;
    padding: 20% 0 12% 0; }
  .header_background .badge-img {
    width: 167px;
    height: 167px;
    background-image: url("../images/pen.jpg");
    background-position-y: 75%;
    border-radius: 50%;
    cursor: pointer; }
  .header_background .badge-img:hover {
    background-position-x: 92%; }

.intro {
  padding: 11.5% 0; }
  .intro h4 {
    font-size: 22px;
    color: #005e89;
    line-height: 1.455; }
    .intro h4 i {
      margin-right: 18px; }

.slider_wrap {
  background-color: #0f94d1;
  color: white;
  position: relative;
  margin: 0;
  padding: 0; }
  .slider_wrap h2 {
    padding: 42px 0 25px; }
  .slider_wrap p {
    color: #d5d5d5;
    font-size: 15px;
    margin-bottom: 0; }
  .slider_wrap .carousel-caption-slider {
    padding: 11px 30px 54px 30px;
    text-align: left; }
    .slider_wrap .carousel-caption-slider h5 {
      line-height: 1.5;
      font-size: 20px;
      margin-bottom: 0; }
    .slider_wrap .carousel-caption-slider label {
      font-family: Myriad Pro;
      line-height: 1.6;
      font-size: 15px; }
      .slider_wrap .carousel-caption-slider label i {
        margin: 0 11px 0 16px; }
  .slider_wrap ol {
    margin: 0;
    padding: 0;
    bottom: 22px; }
    .slider_wrap ol li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 7px; }
    .slider_wrap ol > li:last-child {
      margin-right: 0; }
  .slider_wrap .controls {
    font-size: 50px;
    width: 8%;
    top: -100px; }

.faq {
  background-color: #005e89;
  text-align: center; }
  .faq h3 {
    font-size: 25px;
    line-height: 1.44;
    color: white; }
  .faq .tab-content {
    min-height: 272px;
    max-height: 272px;
    margin: 42px 0 45px 0;
    overflow: hidden;
    overflow-y: auto; }
    .faq .tab-content p {
      color: white; }
    .faq .tab-content img {
      margin: 31px 0 44px; }
  .faq .tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px; }
  .faq .tab-content::-webkit-scrollbar {
    width: 8px;
    background-color: #99bfd0;
    border-radius: 10px; }
  .faq .tab-content::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    width: 13px;
    border-radius: 10px;
    position: absolute; }
  .faq .nav-pills {
    margin-top: 84px; }
    .faq .nav-pills a.nav-link {
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      width: 124px;
      height: 33px;
      font-size: 20px;
      background-color: transparent;
      border-color: #99bfd0;
      color: #99bfd0;
      outline: none;
      padding: 0;
      margin-right: 68px; }
    .faq .nav-pills a.nav-link:hover, .faq .nav-pills a.nav-link.active {
      border-color: white;
      color: white; }
    .faq .nav-pills > .nav-item:last-child a {
      margin-right: 0; }

.get_in_touch {
  /* Form Text */ }
  .get_in_touch h2 {
    color: #005e89;
    margin: 50px 0 43px 0;
    padding: 0; }
  .get_in_touch p {
    color: #727272;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 36px; }
  .get_in_touch form label, .get_in_touch form input {
    color: rgba(0, 0, 0, 0.502);
    line-height: 1.5;
    font-size: 16px; }
  .get_in_touch form label {
    position: absolute;
    top: 15px; }
  .get_in_touch form input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.502);
    padding-left: 80px;
    outline: none;
    width: 100%;
    height: 35px;
    margin: 21px 0 24px 0; }
  .get_in_touch form i {
    font-size: 30px;
    color: #c8c8c8;
    cursor: pointer; }
  .get_in_touch form button {
    background-color: transparent;
    border: none;
    color: #005e89;
    outline: none;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    font-size: 16px; }
  .get_in_touch form button i {
    color: #0f94d1;
    position: absolute;
    left: 0;
    top: 1px; }
  .get_in_touch form #twitter:hover {
    color: #29c5f6; }
  .get_in_touch form #facebook:hover {
    color: #6788ce; }
  .get_in_touch form #accusoft:hover {
    color: #73ba5d; }
  .get_in_touch form #behance:hover {
    color: #5383e9; }
  .get_in_touch form #dribbble:hover {
    color: #f85993; }
  .get_in_touch form #google:hover {
    color: #e75c3c; }

.map {
  margin-top: 91px; }
  .map iframe {
    height: 232px; }
  .map div {
    border-bottom: 5px solid #1094d1; }

footer p {
  font-size: 13px;
  line-height: 1.846; }

footer .designed_by {
  color: black; }

footer .text-rights {
  color: #646464; }

footer span {
  color: #1094d1; }

@media (max-width: 400px) {
  .faq .nav-item {
    width: 100% !important;
    margin-bottom: 10px; }
    .faq .nav-item a.nav-link {
      width: 100% !important;
      margin-right: 0 !important; } }

@media (max-width: 575.98px) {
  h1 {
    font-size: 50px;
    line-height: 1.2;
    font-size: 32px; }
  h3 {
    font-size: 22px; }
  .header_background div.text {
    padding: 40% 0 15% 0 !important; }
  .faq .nav-pills a.nav-link {
    width: 80px;
    font-size: 16px;
    margin-right: 7px !important; }
  .slider_wrap .controls {
    top: -150px; } }

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;
    background: #73d3ff;
    width: 90%;
    top: 82px;
    left: 5%;
    z-index: 999;
    border-radius: 0 0 7px 7px; }
  .get_in_touch .social_media {
    width: 100%;
    text-align: center;
    margin-top: 20px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .faq .nav-pills .nav-item.mr-5 {
    margin-right: 15px !important; }
  .faq .nav-pills a.nav-link {
    width: 100px;
    font-size: 18px; } }
