$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-black-04:rgba(0, 0, 0, 0.4);
$color-black-05: rgba(0, 0, 0, 0.502);

$color-blue-dark: rgb(0, 94, 137);
$color-blue-primary: rgb(16, 148, 209);
$color-blue-primary-1:rgb(15, 148, 209);

$color-blue-light:rgb(115, 211, 255);
$color-blue-light-2:rgb(153, 191, 208);
$color-blue-light-3: rgb(70,197,255);
$color-blue-light-4:rgb(41,197, 246);
$color-grey-1: rgb(114, 114, 114);
$color-grey-2: rgb(100, 100, 100);
$color-grey-light-1: rgb(200,200,200);
$color-grey-light: rgb(213,213,213 );
$color-pink: rgb(248,89,147);
$color-blue:rgb(83,131,233);
$color-blue-f:rgb(103,136,206);
$color-green:rgb(115, 186, 93);
$color-red:rgb(231, 92, 60);
$font-stack:  Arial, Helvetica, sans-serif;

body{
  font-family: $font-stack;
  scroll-behavior: smooth;
}
h1{
    font-size: 50px;
    line-height: 1.2;
}
h2{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}
p{
  font-size: 16px;
  line-height: 1.5;
  color: $color-black-04;
}
a, a:visited{
  color:$color-white;
}
a:hover, a:active{
  color:$color-blue-dark;
}
.header_background {
  background-color: $color-blue-primary;
  background-image: -moz-linear-gradient( 122.47deg, $color-blue-primary-1 0%, $color-blue-light-3 100%);
  background-image: -webkit-linear-gradient( 122.47deg, $color-blue-primary-1 0%, $color-blue-light-3 100%);
  background-image: -ms-linear-gradient( 122.47deg, $color-blue-primary-1 0%, $color-blue-light-3 100%);
  // height: 900px;
  position: relative;
  color:$color-white;
  border-bottom: 5px solid $color-blue-light;
  h1{
    margin-bottom: 76px;
  }
  h3{
    margin-bottom: 41px;
  }
  nav{
    
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -webkit-transition: all .4s linear;
  }
  nav.b_colour{
    background-color: $color-blue-primary;
  }
  .nav-item {
    a{
      font-size: 18px;
      line-height: 1.778;
      font-weight: normal;
      color:$color-white !important;
    }
    a:hover, a.active {
      color:$color-blue-dark !important;
    }
  }
  
  .hamburguer{
    border-radius: 50%;
    background-color:$color-blue-primary-1;
    width: 55px;
    height: 55px;
    color: $color-white;
    outline: none;
  }
  div.text{
    text-align: center;
    padding: 20% 0 12% 0;
  }
  .badge-img{
    width: 167px;
    height: 167px;
    background-image: url("../images/pen.jpg");
    background-position-y:75%;
    border-radius: 50%;
    cursor: pointer;
  }
  .badge-img:hover{
    background-position-x: 92%;
  }

}

.intro {
  padding: 11.5% 0;
  h4{
    font-size: 22px;
    color: $color-blue-dark;
    line-height: 1.455;
    i{
      margin-right:18px;
    }
  }
}

.slider_wrap{
  background-color: $color-blue-primary-1;
  color:$color-white;
  position: relative;
  margin: 0;
  padding: 0;
  h2{
    padding: 42px 0 25px;
  }

  p{
    color: $color-grey-light;
    font-size: 15px;
    margin-bottom: 0;
  }
  .carousel-caption-slider{
    padding: 11px 30px 54px 30px;
    text-align: left;
    h5{
      line-height: 1.5;
      font-size: 20px;
      margin-bottom: 0;
    }
    label{
      font-family: Myriad Pro;
      line-height: 1.6;
      font-size: 15px;
      i{
        margin: 0 11px 0 16px;
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
    bottom: 22px;
    li{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 7px;
    }
    >li:last-child{
      margin-right: 0;
    }
  }
  .controls{
    font-size: 50px;
    width:8%;
    top: -100px;
  }
}

.faq {
  background-color:$color-blue-dark;
  text-align: center;
  h3{
    font-size: 25px;
    line-height: 1.44;
    color:$color-white;
  }
  .tab-content{
    min-height: 272px;
    max-height: 272px;
    margin: 42px 0 45px 0;
    overflow: hidden;
    overflow-y: auto;
    p{
      color:$color-white;
    }
    img{
      margin: 31px 0 44px;
    }
  }
  
  .tab-content::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7px;
  }

  .tab-content::-webkit-scrollbar{
    width: 8px;
    background-color: #99bfd0;
    border-radius: 10px;
  }

  .tab-content::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    width: 13px;
    border-radius: 10px;
    position: absolute;
  }
  .nav-pills{
    margin-top: 84px;
      a.nav-link{
        border-width: 3px;
        border-style: solid;
        border-radius: 7px;
        width: 124px;
        height: 33px;
        font-size: 20px;
        background-color: transparent;
        border-color: $color-blue-light-2;
        color:$color-blue-light-2;
        outline: none;
        padding: 0;
        margin-right: 68px;
    }
    a.nav-link:hover, a.nav-link.active{
      border-color: $color-white;
      color:$color-white;
    }
    >.nav-item:last-child a{
      margin-right: 0;
    }
  }
}

.get_in_touch{
  h2{
    color:$color-blue-dark;
    margin: 50px 0 43px 0;
    padding: 0;
  }
  p {
    color: $color-grey-1;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 36px;
  }
  /* Form Text */
  form {
    label, input{
      color:$color-black-05;
      line-height: 1.5;
      font-size: 16px;
    }
    label{
      position: absolute;
      top:15px;
    }
    input{
      border:none;
      border-bottom: 1px solid $color-black-05;
      padding-left: 80px;
      outline: none;
      width: 100%;
      height: 35px;
      margin: 21px 0 24px 0;
    }
    i{
      font-size: 30px;
      color:$color-grey-light-1;
      cursor: pointer;
    }
    button{
      background-color: transparent;
      border: none;
      color:$color-blue-dark;
      outline: none;
      cursor: pointer;
      position: relative;
      padding-left: 40px;
      font-size: 16px;
    }
    button i{
      color:$color-blue-primary-1;
      position: absolute;
      left: 0;
      top:1px;
    }
    #twitter:hover{
      color:$color-blue-light-4;
    }
    #facebook:hover{
      color:$color-blue-f;
    }
    #accusoft:hover{
      color:$color-green;
    }
    #behance:hover{
      color:$color-blue;
    }
    #dribbble:hover{
      color:$color-pink;
    }
    #google:hover{
      color:$color-red;
    }
  }
}

.map{
  margin-top: 91px;
  iframe{
    height: 232px;
  }
  div {
    border-bottom: 5px solid $color-blue-primary
  }
}

footer{
  p{
    font-size: 13px;
    line-height: 1.846;
  }
  .designed_by{
    color: $color-black;
  }
  .text-rights {
    color: $color-grey-2;
  }
  span{
    color:$color-blue-primary;
  }
}
@media (max-width: 400px) {
  .faq{
    .nav-item{
      width: 100% !important;
      margin-bottom: 10px;
      a.nav-link{
        width: 100% !important;
        margin-right: 0 !important;
      }
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h1{
    font-size: 50px;
    line-height: 1.2;
    font-size: 32px;
  }
  h3{
    font-size: 22px;
  }
  .header_background{
    div.text{
      padding: 40% 0 15% 0 !important;
    }
  }
  .faq{
    .nav-pills{
      a.nav-link{
        width: 80px;
        font-size: 16px;
        margin-right: 7px !important;
      }
    }
  }
  .slider_wrap{
      .controls{
        top:-150px;
      }
    }
  
}

@media (max-width: 991.98px) {
  .navbar-collapse{
    position: absolute;
    background: $color-blue-light;
    width: 90%;
    top: 82px;
    left: 5%;
    z-index: 999;
    border-radius: 0 0 7px 7px;
  }
  .get_in_touch{
    .social_media{
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  }
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .faq{
    .nav-pills{
      .nav-item.mr-5{
        margin-right: 15px !important;
       
      }
      a.nav-link{
        width: 100px;
        font-size: 18px;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
